@import "../../../scss/pixels";
@import "../../../scss/padding";
@import "../../../scss/margin";
@import "../../../scss/colors";

.todoapp {
    padding: $px-10;
}

.todo-form {
    width: 50%;
    margin: auto;
    padding: $px-20;
    border-bottom: $px-1 solid $grey-bc-2;
    text-align: center;
}

.todo-message {
    background-color: $yellow-bc-3;
    border: $px-1 solid $yellow-bc-5;
    padding: $px-40 0;
    text-align: center;
}

.todo-sort-container {
    padding: $px-15 $px-5;
    background-color: $blue-bc-2;
    text-align: right;
    margin-top: $px-5;
}

.todo-list {
    padding-top: $px-10;
    overflow: auto;
}

#taskTextField {
    width: $px-400;
}

.task-card {
    float: left;
    width: $px-320;
    padding: $px-5;
    margin: 0 $px-5 $px-10 0;
    .task-title {
        padding: $px-5 0;
    }
    .task-created-date {
        padding: $px-5 0;
    }
    .task-actions {
        padding: $px-5 0 0;
        border-top: $px-1 solid $grey-bc-2;
        text-align: right;
    }

    &.task-open {
        background-color: $yellow-bc-3;
        border: $px-1 solid $yellow-bc-5;
    }

    &.task-completed {
        background-color: $green-bc-3;
        border: $px-1 solid $green-bc-5;
    }
}
