@import "pixels";
@import "margin";
@import "padding";
@import "colors";
@import "variables";

@mixin generate-button-style(
    $buttonName,
    $buttonStatus,
    $defaultBackgroundColor,
    $defaultTextColor,
    $hoverBackgroundColor,
    $hoverTextColor
) {
    .#{$buttonName} {
        padding: $pd-all-2-px;
        margin: $mr-all-2-px;
        text-decoration: none;
        font-size: $px-16;
        display: inline-block;
        cursor: pointer;

        &.#{$buttonName}-#{$buttonStatus} {
            background-color: $defaultBackgroundColor;
            color: $defaultTextColor;
            border: 0;

            &:hover {
                background-color: $hoverBackgroundColor;
                color: $hoverTextColor;
                border: 0;
            }
        }
    }
}

@include generate-button-style(
    "href-btn",
    "default",
    $grey-bc-1,
    $grey-bc-3,
    $grey-bc-2,
    $grey-bc-4
);

@include generate-button-style(
    "btn",
    "default",
    $grey-bc-1,
    $grey-bc-3,
    $grey-bc-2,
    $grey-bc-4
);

@include generate-button-style(
    "btn",
    "primary",
    $blue-bc-4,
    #ffffff,
    $blue-bc-3,
    #ffffff
);

@include generate-button-style(
    "btn",
    "danger",
    $red-bc-4,
    #ffffff,
    $red-bc-3,
    #ffffff
);

@include generate-button-style(
    "btn",
    "success",
    $green-bc-4,
    $grey-bc-4,
    $green-bc-3,
    $grey-bc-3
);

@include generate-button-style(
    "btn",
    "warning",
    $yellow-bc-4,
    #ffffff,
    $yellow-bc-3,
    #ffffff
);

.btn-sm {
    padding: $px-5;
    font-size: $px-10;
}

.btn-md {
    padding: $px-10;
    font-size: $px-16;
}

.btn-lg {
    padding: $px-15;
    font-size: $px-20;
}
