@import "pixels";
@import "colors";

input[type="text"] {
    width: $px-320;
    height: $px-40;
    border-width: $px-1;
    border-style: solid;
    border-color: $grey-bc-2;
    font-weight: 400;
    font-size: inherit;
    padding: $px-5;
}

select {
    width: $px-320;
    height: $px-40;
    border-width: $px-1;
    border-style: solid;
    border-color: $grey-bc-2;
    font-weight: 400;
    font-size: inherit;
    padding: $px-5;
}
