@import "pixels";

$pd-all-2-px: $px-2;
$pd-all-5-px: $px-5;
$pd-all-10-px: $px-10;
$pd-all-15-px: $px-15;
$pd-all-20-px: $px-20;

$pd-5-10-px: $px-5 $px-10;
$pd-10-5-px: $px-10 $px-5;
$pd-10-15-px: $px-10 $px-15;
$pd-15-10-px: $px-15 $px-10;
$pd-20-10-px: $px-20 $px-10;
$pd-10-20-px: $px-10 $px-20;
