@import "pixels";
@import "colors";

html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: $grey-bc-4;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
}
html,
body {
    font-size: 16px;
}
body {
    background-color: #f5f8fb;
    height: inherit;
}
img {
    max-width: 100%;
}

#root {
    height: inherit;
}

.body-content {
    padding-top: $px-20;
    height: calc(100% - #{$px-64});
}
