@import "pixels";
@import "margin";
@import "padding";
@import "colors";
@import "variables";

.header {
    padding: $pd-20-10-px;
    background-color: $header-bc;
    color: $white-txt-4;
    margin-bottom: $px-5;
}
